*{
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(0, 105, 137);
    background: linear-gradient(90deg, rgba(0, 105, 137, 1) 0%, rgba(0, 112, 144, 1) 68%, rgba(1, 167, 194, 1) 100%);
}

.logo{

    background-color: #EAEBED;
}
.logo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.titulo{
    color: #ffff;
}
.card-responsive {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .card-responsive {
        width: 100% !important;
    }
}