a* {
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 2em !important;
}

h2 {
    font-size: 1.3em !important;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0, 105, 137);
    background: linear-gradient(90deg, rgba(0, 105, 137, 1) 0%, rgba(0, 112, 144, 1) 68%, rgba(1, 167, 194, 1) 100%);
}

.credit-card-container {
    display: flex;
    align-items: center;
    /* Esto alinea verticalmente la tarjeta en el centro */
}




.logo {

    background-color: #EAEBED;
}

.logo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.titulo {
    color: #ffff;
}

.form-label {
    font-size: 0.9em !important;
}


.card-responsive {
    width: 50%;
}



.input-container {
    position: relative;
  }
  
  .input {
    border: none;
    border-bottom: 1px solid #ccc; /* Línea horizontal predeterminada */
    padding: 10px;
    width: 200px; /* Ancho del input */
    outline: none;
  }
  
  .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px; /* Altura de la barra horizontal */
    width: 0; /* Inicialmente, la barra tiene ancho cero */
    background-color: blue; /* Color de la barra */
    transition: width 0.3s ease; /* Animación para la transición */
  }
  
  .input:focus + .bar {
    width: 100%; /* Cuando el input tiene foco, la barra se expande al 100% */
  }
  


@media screen and (max-width: 768px) {
    .card-responsive {
        width: 100% !important;
    }
}